@model ExpenseTracker.Models.UserViewModel
@using ExpenseTracker.Helpers
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Create Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser" , method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.email" class="control-label"></label>
                <input asp-for="User.email" class="form-control" />
                <span asp-validation-for="User.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.userName" class="control-label"></label>
                <input asp-for="User.userName" class="form-control" />
                <span asp-validation-for="User.userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.password" class="control-label"></label>
                <input asp-for="User.password" class="form-control" />
                <span asp-validation-for="User.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.phoneNumber" class="control-label"></label>
                <input asp-for="User.phoneNumber" class="form-control" />
                <span asp-validation-for="User.phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.SSN" class="control-label"></label>
                <input asp-for="User.SSN" class="form-control" />
                <span asp-validation-for="User.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EmployerId" class="control-label"></label>
                @Html.DropDownListFor(m => m.User.EmployerId, Model.Employers.ToSelectList(), "Please Select", new { required = true, @class = "form-control" })
                <span asp-validation-for="User.EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}