@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<button type="button" class="btn btn-primary btn-lg btn-block"> Enter New Expense </button>
<a href="@Url.ActionLink("NewExpense", "Expense")" type="button" class="btn btn-primary btn-lg btn-block">Enter New Expense</a>



***we need a thing that prints the expenses list onto a table***